watsapp-workflow.json
{
  "name": "WhatsApp Google Drive Assistant (Full)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "auto-whatsapp"
    },
    {
      "parameters": {
        "functionCode": "const body = $json.Body ? $json.Body.trim() : '';\\nconst from = $json.From || '';\\nconst mediaUrl = $json.MediaUrl0 || '';\\nconst parts = body.split(/\\s+/);\\nconst command = (parts[0] || '').replace('/', '').toLowerCase();\\nconst args = parts.slice(1);\\nreturn [{ json: { command, args, from, mediaUrl } }];"
      },
      "name": "Parse Command",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "propertyName": "command",
        "rules": [
          { "operation": "equal", "value": "list" },
          { "operation": "equal", "value": "delete" },
          { "operation": "equal", "value": "move" },
          { "operation": "equal", "value": "rename" },
          { "operation": "equal", "value": "upload" },
          { "operation": "equal", "value": "summary" }
        ]
      },
      "name": "Switch Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "GET",
        "authentication": "oAuth2",
        "queryParametersUi": {
          "parameter": [
            { "name": "q", "value": "trashed=false" },
            { "name": "fields", "value": "files(id,name,mimeType)" }
          ]
        }
      },
      "name": "List Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 100],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "functionCode": "const files = $json.files || [];\\nconst text = files.map(f => `${f.name} (${f.mimeType})`).join('\\\\n') || 'No files found.';\\nreturn [{ json: { message: text, from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format List",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 100]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files/{{ $node['Parse Command'].json.args[1] }}",
        "method": "DELETE",
        "authentication": "oAuth2"
      },
      "name": "Delete File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 180],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: 'File deleted successfully.', from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format Delete",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 180]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files/{{ $node['Parse Command'].json.args[0] }}",
        "method": "PATCH",
        "authentication": "oAuth2",
        "jsonParameters": true,
        "body": {
          "name": "={{ $node['Parse Command'].json.args[1] }}"
        }
      },
      "name": "Rename File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 260],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: 'File renamed successfully.', from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format Rename",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 260]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "method": "POST",
        "authentication": "oAuth2",
        "options": {
          "bodyContentType": "multipart/form-data"
        },
        "bodyParametersUi": {
          "parameter": [
            { "name": "metadata", "value": "{ 'name': '{{ $node[\"Parse Command\"].json.args[1] }}' }" },
            { "name": "file", "value": "={{ $json.MediaUrl0 }}" }
          ]
        }
      },
      "name": "Upload File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 340],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: 'File uploaded successfully.', from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format Upload",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 340]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files/{{ $node['Parse Command'].json.args[1] }}/copy",
        "method": "POST",
        "authentication": "oAuth2",
        "jsonParameters": true,
        "body": {
          "parents": ["={{ $node['Parse Command'].json.args[2] }}"]
        }
      },
      "name": "Move File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 420],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: 'File moved successfully.', from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format Move",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1080, 420]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "method": "GET",
        "authentication": "oAuth2",
        "queryParametersUi": {
          "parameter": [
            { "name": "q", "value": "trashed=false" },
            { "name": "fields", "value": "files(id,name)" }
          ]
        }
      },
      "name": "List Files - Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [860, 500],
      "credentials": { "googleDriveOAuth2Api": { "name": "Google Drive API" } }
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "method": "POST",
        "authentication": "headerAuth",
        "jsonParameters": true,
        "body": {
          "model": "gpt-4o-mini",
          "messages": [
            { "role": "system", "content": "You are a helpful assistant summarizing file lists." },
            { "role": "user", "content": "Summarize these files: {{ $json.files.map(f => f.name).join(', ') }}" }
          ]
        }
      },
      "name": "AI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1080, 500],
      "credentials": { "headerAuth": { "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "functionCode": "const summary = $json.choices ? $json.choices[0].message.content : 'No summary.';\\nreturn [{ json: { message: summary, from: $node['Parse Command'].json.from } }];"
      },
      "name": "Format Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 500]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $credentials.twilioApi.username }}/Messages.json",
        "method": "POST",
        "authentication": "basicAuth",
        "bodyParametersUi": {
          "parameter": [
            { "name": "To", "value": "={{ $json.from }}" },
            { "name": "From", "value": "whatsapp:+14155238886" },
            { "name": "Body", "value": "={{ $json.message }}" }
          ]
        }
      },
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1500, 300],
      "credentials": { "twilioApi": { "name": "Twilio API" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Parse Command", "type": "main", "index": 0 }]] },
    "Parse Command": { "main": [[{ "node": "Switch Command", "type": "main", "index": 0 }]] },
    "Switch Command": {
      "main": [
        [{ "node": "List Files", "type": "main", "index": 0 }],
        [{ "node": "Delete File", "type": "main", "index": 0 }],
        [{ "node": "Move File", "type": "main", "index": 0 }],
        [{ "node": "Rename File", "type": "main", "index": 0 }],
        [{ "node": "Upload File", "type": "main", "index": 0 }],
        [{ "node": "List Files - Summary", "type": "main", "index": 0 }]
      ]
    },
    "List Files": { "main": [[{ "node": "Format List", "type": "main", "index": 0 }]] },
    "Format List": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] },
    "Delete File": { "main": [[{ "node": "Format Delete", "type": "main", "index": 0 }]] },
    "Format Delete": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] },
    "Rename File": { "main": [[{ "node": "Format Rename", "type": "main", "index": 0 }]] },
    "Format Rename": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] },
    "Upload File": { "main": [[{ "node": "Format Upload", "type": "main", "index": 0 }]] },
    "Format Upload": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] },
    "Move File": { "main": [[{ "node": "Format Move", "type": "main", "index": 0 }]] },
    "Format Move": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] },
    "List Files - Summary": { "main": [[{ "node": "AI Summary", "type": "main", "index": 0 }]] },
    "AI Summary": { "main": [[{ "node": "Format Summary", "type": "main", "index": 0 }]] },
    "Format Summary": { "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]] }
  }
}
